<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="equip_form">
        <%= render 'shared/equip_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Equipment List</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<div style="background:#FFFF00 !important" class="center jumbotron">
  <h1>Welcome to the Armsroom</h1>

  <h2>
    This is the homepage for the Armsroom property management system.
  </h2>

  <%= link_to "Sign up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("arms_room_logo.tiff", alt: "Armsroom logo"),
            'https://armsroom.herokuapp.com/' %>

<% end %>