<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        Name: <%= @user.name %> <br>
        Email: <%= @user.email %> <br> 
        Unit: <%= @user.unit %> <br>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.equips.any? %>
      <h3>Equips (<%= @user.equips.count %>)</h3>
      <ol class="equips">
        <%= render @equips %>
      </ol>
    <% end %>
  </div>
</div>


