<%= form_for(@equip) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :name, placeholder: "Add equipment nomenclature..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>