<li id="equip-<%= equip.id %>">
  <%= link_to gravatar_for(equip.user, size: 50), equip.user %>
  <span class="user"><%= link_to equip.user.name, equip.user %></span>
  <span class="name"><%= equip.name %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(equip.created_at) %> ago.
    <% if current_user? (equip.user) %>
      <%= link_to "remove", equip, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>